<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Factorizing</title>
    <meta name="description" content="Scraping and evaluating for factor calculations">
    <link id="favicon" rel="icon" href="https://bit.ly/geniusIcon" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Calculating Factors for a Number
      </h1>
    </header>
    <main>
      <header>
        <p>
          Want to give feedback? Click <a href="https://github.com/kgashok/ultimateCutPaste/issues/new" target="_">here</a>; 
          Last <a href="https://github.com/kgashok/ultimateCutPaste/commits/glitch" target ="_">checkin</a>
        </p>
      </header>
      <section class="dreams-input"> 
        <p class="bold">Hello Genius,</p>
        <p>Enter a number of your desire:</p>
        <form>
          <input name="dream" type="text" maxlength="100" placeholder="Any integer!" aria-labelledby="submit-dream">
          <button type="submit" id="submit-dream">Submit Integer</button>
        </form>
      </section>
      <section class="dreams-display">
        <ul id="dreams"></ul>
        <br>
      </section>
  
      
    </main>
    <footer>
      Come hack your genius at <a href="http://edu.kgisl.com" target="_">KGISL edu</a>!
    </footer>
    <!-- include the Glitch button to show what the webpage is about and
to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
